<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (Session["Autorizado"] != null)
    {
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="~/Images/logo2.png" style="height: 42px; width: 45px;">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin: 10px; font-weight: Bold;">
                        @*Link / Action / Controller *@
                        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Técnicas", "Index", "Procedimento")</li>

                        @if (Session["Perfil"].ToString() == "Administrador")
                        {
                            <li>@Html.ActionLink("Diagnóstico", "Index", "Diagnostico")</li>
                            <li>@Html.ActionLink("Profissionais", "Index", "Profissional")</li>
                        }

                        <li>@Html.ActionLink("Segmento", "Index", "Segmento")</li>
                        <li>@Html.ActionLink("Consulta", "Index", "Consulta")</li>
                        <li>@Html.ActionLink("Sair", "Sair", "Login")</li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clínica Restaure Vida Administrativo</p>
        </footer>
    </div>
</body>
</html>
