@model AdminRestaureVida.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @{
                string parameterValue = Model.DataNascimento.Value.ToShortDateString();
                if (parameterValue == "01/01/0001")
                {
                    parameterValue = string.Empty;
                }
            }
            @Html.DisplayFor(model => parameterValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @{
                string civil = Model.EstadoCivil.ToString();
                if (civil == "Selecione")
                {
                    civil = string.Empty;
                }
            }
            @Html.DisplayFor(model => civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elemento)
        </dt>

        <dd>
            @{
                string elemento = Model.Elemento.ToString();
                if (elemento == "Selecione")
                {
                    elemento = string.Empty;
                }
            }
            @Html.DisplayFor(model => elemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeConjuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeConjuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimentoMae)
        </dt>

        <dd>
            @{
                string dtMae = Model.DataNascimentoMae.Value.ToShortDateString();
                if (dtMae == "01/01/0001")
                {
                    dtMae = string.Empty;
                }
            }
            @Html.DisplayFor(modelItem => dtMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimentoPai)
        </dt>

        <dd>
            @{
                string dtPai = Model.DataNascimentoPai.Value.ToShortDateString();
                if (dtPai == "01/01/0001")
                {
                    dtPai = string.Empty;
                }
            }
            @Html.DisplayFor(modelItem => dtPai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a href="/Cliente/Index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Voltar</a>
</p>
